[user]
  name = jschappel
  email = jmschappel12@gmail.com

[core]
  editor = vim
  pager = delta # https://github.com/dandavison/delta
  #pager = less -FRX

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  line-numbers = true

[merge]
  conflictstyle = diff3


[web]
  browser = firefox

[color]
  ui = auto

[credential]
  helper = store

[color "status"]
  changed = yellow

[diff]
  colorMoved = default

[difftool]
  tool = gvimdiff


[safe]
  directory = /home/joshua/JOOR/dev/data/redis
  directory = /home/joshua/Documents/Cpp/DarkslideVM
  directory = /home/jschappel/JOOR/dev/data/redis

[alias]
  co = checkout
  ca = commit --amend
  s = status
  b = branch
  me = log master.. --oneline
  me2 = log main.. --oneline

